<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meadowlark App</title>
</head>
<body>
	<header><img src="/img/carwale-pic.png" alt="logo"></header>
	{{{ body }}}
</body>
</html>